@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
  --gradient: linear-gradient(40deg,#6822A9, #6b13cf,#b11e80, #0e1eae);
  --gradient2: linear-gradient(45deg,#2f14a8,#45065e, #8709f5);
  --gradient3: linear-gradient(45deg,#2f14a8,#7a1ba0, #be09f5);
  --gradient4: linear-gradient(45deg,#2f14a8,#ce14ce);
  --rootdarkpurple: #330b5c;
  --rootpurple: #7001DC;
  --rootwhite: #f7f7f7;
  --rootfadedwhite: #f7f7f7e3;
  --rootblack: #2c2c2c;
  --dividergray:#e5e4e4;
  --color-bg1: rgb(76, 0, 114);
    --color-bg2: rgb(2, 24, 111);
    --color1: 96, 25, 138;
    --color2: 81, 52, 153;
    --color3: 138, 0, 63;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 3500px;
    --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 25s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 25s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveHorizontal 25s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 10s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 10s ease infinite;

    opacity: 1;
  }

  .interactive{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    z-index: 10;
    opacity: 0.7;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* user-select: none; */
  scroll-behavior: smooth;
}
.main-app{overflow:hidden;margin:0 0 1rem 0}

.main-sub-cont{
  width: 100%;
  font-size: 24px;
  display: flex;
  height: 89.2vh;
  align-items: center;
  justify-content: center;
  background: var(--rootwhite);
}

.home-main-cont{
  display: flex;
  position: relative;
  align-items: center;
  color:var(--rootwhite);
  flex-direction: column;
  justify-content: flex-start;

  /* background: radial-gradient(ellipse at right, #6A0EAE, #2b0c42),
            radial-gradient(ellipse at bottom, #850cdb, #200335); */
  /* backdrop-filter: blur(60px); */
  /* background: linear-gradient(-45deg,#511892 60%,#7D0046,#320c80 ); */
  /* background-size: 400% 400%; */
  /* animation: gradient 10s ease-in-out infinite; */
  height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes bg-animation2{
  0%{
    background-position: 0% 50%;
  }50%{
    background-position: 75% 100%;
  }100%{
    background-position: 0% 50%;
  }
}

/* Navbar Styling */

.navbar-cont{
  width: 100%;
  display: flex;
  padding:1rem 1.5rem;
  color: #f7f7f7;
  overflow: hidden;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
}
.navbar-logo{
  width: 20vw;
}
.navbar-logo img{
  width: 90%;
}
.navbar-items{
  display: flex;
  justify-content: flex-end;
}
.navbar-items ul{
  gap: 1.5rem;
  display: flex;
  font-size:1.1vw;
  font-weight: 400;
  list-style: none;
  align-items: center;
}
a{
  color: var(--rootfadedwhite);
  text-decoration: none;
}
a:hover{
  color: var(--rootwhite);
}

.btn{
  outline:none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f7;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background:transparent;
  border: 1px solid #f7f7f7ad;
  transition: 0.3s all ease-in-out;
}
.btn:hover{
  border:1px solid #ffffff;
}

/** Book a Demo **/

.demo-model-cont,.demo-overlay-cont{
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 13;
}
.demo-overlay-cont{
  backdrop-filter: blur(2px);
  background: rgba(41, 39, 43, 0.658);
}
.demo-model{
  top:50%;
  left: 50%;
  gap: 2rem;
  display: flex;
  padding:1rem 0 0 0;
  position: absolute;
  border-radius:10px;
  align-items: flex-start;
  flex-direction: column;
  color: var(--rootblack);
  background: var(--rootwhite);
  transform: translate(-50%,-50%);
}
.demo-model-heading{
  padding:0 2rem;
  font-size:24px;
  font-weight: 600;
  color: var(--rootpurple);
}
.demo-model-mid{
  width: 100%;
  display:flex;
  padding:0 0 2rem 2rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.demo-model-points{
  width: 45vw;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7rem;
  color:var(--rootblack);
  font-family: 'Poppins', sans-serif;
}
.demo-model-close-btn{
  rotate:90deg;
  margin: -2.9rem;
  font-weight: 600;
  cursor: pointer;
  color:var(--rootwhite);
  padding: 0.5rem 2.5rem ;
  text-transform: uppercase;
  border-radius: 0 0 15px 15px;
  background:var(--rootpurple);
  transition: 0.3s all ease-in-out;
}
.demo-model-close-btn:hover{
  margin-top:-0.8rem;
}
.demo-model-bottom{
  gap:0.3rem;
  width:100%;
  display:flex;
  align-items: center;
  flex-direction:column;
}
.demo-model-bottom-subheading{
  font-size: 16px;
  font-weight: 500;
  padding: 0 2rem;
  align-self: flex-start;
  color: var(--rootpurple);
  font-family: 'Poppins', sans-serif;
}
.demo-model-bottom-divider{
  width: 100%;
  height: 1px;
  border: none;
  background: #7001dc47;
}
.demo-model-bottom-last-points{
  gap: 2rem;
  width: 100%;
  display: flex;
  padding: 0.8rem 2rem;
  background: var(--rootpurple);
  color: var(--rootwhite);
  border-radius: 0 0 9px 9px;
  justify-content: space-between;
}
.demo-model-bottom-last-point{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

/* Home: Hero Section */

/* .home-main-cont{
  background: radial-gradient(ellipse at right, #6A0EAE, #2b0c42),
            radial-gradient(ellipse at bottom, #850cdb, #200335);
} */

.hero-main-cont{
  gap: 1rem;
  height: 90vh;
  display: flex;
  position: relative;
  color: #f7f7f7;
  align-items: center;
  justify-content: center;
}
.hero-right,.hero-left{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero-left{
  width: 55%;
}
.hero-right{
  width: 45%;
  position: relative;
}
.vertical-right-heading{
  top:41vh;
  right:40vw;
  width:35%;
  font-size: 1.2vw;
  color: #fff;
  rotate: -90deg;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
}
.vertical-right-heading::before{
  content: "";
  width: 11vw;
  height: 1px;
  top:-0.3rem;
  position: absolute;
  background: var(--rootwhite);

}
.hero-left-top-cont{
  gap: 1rem;
  height: 62%;
  display: flex;
  padding: 3rem 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.hero-heading,.hero-subheading{
  font-size: 2.6vw;
  font-weight: 700;
  font-family: 'IBM Plex mono';
}
.hero-subheading{
  width:42vw;
  height: 100%;
  font-size: 2.2vw;
  font-weight: 400;
}
.hero-tab-btn{
  width: 100%;
  height: 2px;
  opacity: 0.3;
  border: none;
  cursor: pointer;
  background: #f7f7f7;
  transition: 5s all ease-in;
}
.tab{
  gap: 1rem;
  width: 22vw;
  display: flex;
}
.hero-left-top-cont button{
  width: 100%;
  font-size: 18px;
}
.hero-tab-active{
  opacity: 1;
}

.hero-left-bottom-cont{
  width: 80%;
  height: 38%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
}
.hero-bottom-divider{
  width: 100%;
  height: 0.5px;
  padding:0.2px; 
  margin:0.5rem 0 1rem 0; 
  background: var(--rootwhite);
}
.play-icon svg{
  font-size: 3rem;
}

.play-icon::before{
  opacity: 1;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  transform-origin: center;
  border: 7px solid var(--rootfadedwhite);
  animation: 2s pulsate1 ease-out infinite;
}
@keyframes pulsate1 {
  0% {
    transform: scale(0.9);
    opacity: 1
  }
  100% {
    transform: scale(1.2);
    opacity: 0
  }
}
.play-icon{
  top: 7rem;
  gap: 0.7rem;
  left: 1rem;
  height: 8%;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  align-items: center;
  /* border:1px solid red; */
}
.closeicon{
  top:2rem;
  right:2rem;
  height: 4rem;
  z-index: 2;
  cursor:pointer;
  font-size: 4rem;
  position: absolute;
  color: var(--rootfadedwhite);
  transition: 0.5s all ease;
}
.closeicon:hover{
  rotate: 90deg;
  color: var(--rootwhite);
}
.videospan{
  top:50%;
  left:50%;
  width: 100%;
  z-index: 1;
  height:100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transform: translate(-50%,-50%);
}
.hero-left-bottom-sub-cont{
  width:50%;
  font-size: 1.1vw;
  line-height: 1.2vw;
  font-weight: 400;
  text-align: right;
  font-family: 'Poppins', sans-serif;
}

/* Home:Hero: Right Top Section */

.hero-right{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-right-top-cont{
  gap: 1rem;
  width: 65%;
  scale: 0.8;
  display: flex;
  position: relative;
  padding: 1.5rem 1rem;
  line-height: 2.3rem;
  border-radius: 15px;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  text-transform: uppercase;
  border: 1px solid white;
  transition: 0.2s all ease;
  box-shadow: 0 0 5px 0px var(--rootfadedwhite);
}
.hero-right-top-heading{
  width: 100%;
  font-size: 34px;
  font-weight: 300;
  padding: 0 0 0 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.hero-right button{
  width: 95%;
  font-size: 18px;
}

.hero-right-bottom-cont{
  height: 25%;
  width: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* border: 1px solid blue; */
}
.hero-right-bottom-divider{
  width: 100%;
  padding: 0.2px;
  background: var(--rootwhite);
}
.hero-right-bottom-sub-cont{
  width: 70%;
  font-size: 1.1vw;
  line-height: 1.3vw;
  font-weight: 400;
  text-align: left;
  padding: 0.7rem 0;
  font-family: 'Poppins', sans-serif;
}
.joinhands-img{
  right:0rem;
  width: 20%;
  bottom: 9.4rem;
  position: absolute;
}

/* Book Demo Section */
.select-section{
  gap: 0.5rem;
  width:100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.select-cont{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-label{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0.5rem;
  font-weight: 400;
  align-items: center;
  border: 1px solid #f7f7f7;
  justify-content: flex-start;
  border-radius: 10px 0 0 10px;
}
.individual-select{
  width: 100%;
  display: flex;
  justify-content: right;
  font-family: "Inter", sans-serif;
}
.css-1dimb5e-singleValue{
 font-weight: 500;
 font-family: 'Poppins', sans-serif;
}
.css-1nmdiq5-menu *{
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
#react-select-2-placeholder,#react-select-3-placeholder,#react-select-4-placeholder{
  font-size: 16px;
  text-transform:none;
  font-family: "Inter", sans-serif;
}
.select-otpnum-input{
  width: 15vw;
  border: none;
  outline: none;
  padding: 1rem 0.8rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
  text-transform:uppercase;
  color: var(--rootblack);
  font-family: "Inter", sans-serif;
}
.select-otpnum-input::placeholder, ::-webkit-input-placeholder{
  color:#8b8b8b;
}
.select-submit-btn{
  width: 100% !important;
  cursor: pointer;
  /* padding: 1rem 2rem; */
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--rootwhite);
  background: transparent;
  border: 1px solid #b1b1b1;
}
.select-submit-btn a{
  z-index: 9;
  text-decoration: none;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.select-submit-btn:hover a{
  color: var(--rootblack);
}

.select-submit-btn::before{
  left: 0;
  bottom: -100%;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--rootwhite);
  border-radius: 50%;
  position: absolute;
  transition: 0.4s all ease;
}
.select-submit-btn:hover::before{
  bottom: 0;
  border-radius: 0;
}

/* Home: Secondary Container */

/* Background */

.circlebg-cont{
  width: 100%;
  height: 100dvh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.circle1{
  width: 300px;
  height: 300px;
  opacity: 0.4;
  z-index: -1;
  filter: blur(80px);
  position: relative;
  border-radius: 100%;
  animation: canimate1 5s infinite;
}
.circle2{
  width: 400px;
  height: 400px;
  position: relative;
  z-index: -2;
  opacity: 0.5;
  filter: blur(80px);
  border-radius: 100%;
  animation: canimate2 5s infinite;
}

@keyframes canimate1 {
  0%{left:0px;top:0px;}
  25%{left:-10px;top:70px;}
  50%{left:20px;top:150px;}
  75%{left:50px;top:100px;}
  100%{left:0px;top:0px;}
}
@keyframes canimate2 {
  0%{left:0px;top:0px;}
  25%{left:0px;top:10px;}
  50%{left:20px;top:50px;}
  75%{left:0px;top:130px;}
  100%{left:10px;top:40px;}
}

.cblue{
  background: #25a4ff;
}
.cpink{
  background: #2583ff;
}
.cviolet{
  background: #df18df;
}
.cpurple{
  background: #911ddf;
}

/* BG END */

.secondary-main-cont{
  margin: 0 0 2rem 0;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
}
.secondary-heading{
  width:35vw;
  padding: 1.5rem 0.6rem;
  font-size: 20px;
  align-self: end;
  text-align: center;
  font-weight: 600;
  background: #7001dc;
  color: var(--rootwhite);
  animation: slidein 0.5s linear;
  border-radius: 20px 0 0 20px;
}

.secondary-bottom-cont{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Soomuchai{
  color: var(--rootpurple);
  z-index: 0;
  display: flex;
  font-size: 46px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}
.Ai{
  margin: -0.7rem 0 0 0.4rem;
  font-size:30px;
  font-family: 'Poppins', sans-serif;
}

/* Cards Section */
.bottom-card-cont{
  width: 100%;
  height: 80vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.cards-cont{
  z-index: 3;
  gap: 4rem;
  width: 300vw;
  left: 45rem;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.sub-cards{
  width:35vw;
  height: 40vh;
  display: flex;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  color: var(--rootpurple);
  text-transform: uppercase;
  transition: 0.3s all ease;

  backdrop-filter: blur( 4.5px );
  border: 1px solid var(--rootpurple);
  background: rgba( 255, 255, 255, 0.1 );
  -webkit-backdrop-filter: blur( 4.5px );
}
.cards-heading{
  font-weight: 600;
}
.sub-cards:hover{
  box-shadow: 0 8px 32px 0 rgba(97, 31, 135, 0.37);
}

/* Bubbles Animations */

.bubbles-cont{
  height: 18%;
  width: 100%;
  position: absolute;
}
.successBubble{
  scale:0;
  opacity:0;
  top: 50%;
  right: 50%;
  display: flex;
  padding: 25px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: #f7f7f74d;
  transform: translate(100%,0%);
  transition: all 0.5s ease-in-out;
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'Poppins', sans-serif;
}

.successBubble:hover{
  rotate: 2deg;
  border: 2px solid #8811ffc4;
}
.disablebubble{
  cursor: none;
  pointer-events: none;
}
.active-view{
  opacity: 1;
  scale: 1;
}

.bubblesLink,.bubblesLink:hover{
  color:var(--rootblack);
}
.successBubblesA {
  height: 220px;
  width: 220px;
  font-size: 16px;
}
.successBubblesB {
  height: 170px;
  width: 170px;
  font-size: 14px;
}
.successBubblesC {
  height: 120px;
  width: 120px;
  font-size: 12px;
}
.successBubblesD {
  height: 50px;
  width: 50px;
  font-size: 12px;
  padding: 15px;
}
.successBubblesE {
  height: 20px;
  width: 20px;
  font-size: 5px;
  padding: 10px;
}
.successBubblesF {
  height: 10px;
  width: 10px;
  font-size: 5px;
  padding: 5px;
}

.bubble-1{
  top: 100px;
  right: 450px;
  font-size: 16px;
}
.bubble-2{
  top: 140px;
  right: 1310px;
}
.bubble-3{
  top: 280px;
  right: 1150px;
}
.bubble-4{
  top: 370px;
  right: 1355px;
  font-size: 14px;
  padding: 10px;
}
.bubble-5{
  top: 350px;
  right: 550px;
}
.bubble-6{
  top: 210px;
  border: none;
  right: 630px;
  font-size: 11px;
  background: var(--rootpurple);
}
.bubble-7{
  top: 150px;
  border: none;
  right: 900px;
  font-size: 13px;
  background: var(--rootpurple);
}
.bubble-8{
  top: 450px;
  border: none;
  right: 750px;
  font-size: 13px;
  background: var(--rootpurple);
}
.bubble-9{
  top: 350px;
  border: none;
  right: 250px;
  font-size: 11px;
  background: var(--rootpurple);
}

/* Home: Features */

.features-main-cont{
  gap: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 4rem 6rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--rootwhite);
  background-size: 300% 300%;
  background-image: var(--gradient2);
  animation: bg-animation 7s infinite ease;
}
.features-title{
  width: 100%;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 1rem 0;
}
.main-features{
  gap: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main-sub-features{
  gap: 0.8rem;
  padding: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  height: 300px;
  backdrop-filter: blur(10px);
  background:rgba(102, 51, 168, 0.247) ;
  border:1px solid var(--rootwhite);
  transition: 0.5s all ease;
}
.main-sub-features:hover{
  box-shadow:0 0 30px 2px #f7f7f746;
}
h4{
  font-weight: 400;
  font-size: 20px;
}
h4, .features-subheading{
  font-family: 'Poppins', sans-serif;
}
.features-subheading{
  font-weight:200;
  color: var(--rootfadedwhite);
}


/* FAQ Page */

.faq-main-cont{
  background-size:100% 300%;
  animation: bg-animation2 10s infinite ease;
  background: radial-gradient(ellipse at left, #a91ec1,#5900b9);
  
}

.faq-sub-cont1{
  gap: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  padding: 6rem 6rem;
  align-items: flex-start;
  color: var(--rootwhite);
  justify-content: center;
}
.faq-left{
  gap: 2rem;
  width: 100vw;
  display: flex;
  padding: 5rem 0;
  position: relative;
  flex-direction: column;
}
.faq-heading{
  font-size: 76px;
  line-height: 4rem;
  color: var(--rootwhite);
}
.faq-subheading{
  font-size: 16px;
  
}
.faq-right{
  padding: 1rem 0;
}
.faq-item{
  font-size: 15px;
  padding: 0.1rem 0;
  border-top: 1px solid var(--rootwhite);
}
.faq-title{
  display: flex;
  cursor: pointer;
  padding: 0.5rem 0;
  align-items: center;
  transition: 0.5s all ease;
  justify-content: space-between;
}
.faq-title h3{
  font-weight: 400;
  word-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}
.faq-content{
  max-height: 0px;
  overflow: hidden;
}
.show-faq{
  height: auto;
  font-size: 14px;
  line-height: 1.2rem;
  padding: 0.5rem 0;
  font-family: 'Poppins', sans-serif;
}
.faq-icon{
  rotate: 0deg;
  font-size: 1.4rem;
  transition: 0.3s all ease;
}
.faq-title:hover > .faq-icon{
  color: #f7f7f7ad;
}
.faq-title:hover > .faq-q{
  color: #f7f7f7ad;
}
.faq-title:hover{
  padding: 0.5rem 0.6rem;
}
.active-faq{
  rotate: 180deg;
  font-size: 1.4rem;
  transition: 0.3s all ease;
}

.faq-sub-cont2{
  gap: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 6rem 6rem;
  position: relative;
  color: var(--rootdark);
  align-items: center;
  justify-content: center;
  background-color: var(--rootfadedwhite);
}
.faq-left2{
  gap:3rem;
  width: 100vw;
  height: 100%;
  display: flex;
  padding: 4rem 3rem;
  position: relative;
  border-radius: 25px;
  flex-direction: column;
  background-size:200% 300%;
  animation: bg-animation2 10s infinite ease;
  background: radial-gradient(ellipse at left, #671dc1,#750abc);
  justify-content: space-between;
  box-shadow: 0px 5px 32px 0 #707070dc;
}
.faq-form{
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.faq-input::placeholder{
  color: var(--rootfadedwhite);
}
.faq-input{
  border: none;
  outline: none;
  font-size: 16px;
  padding: 1rem 0.1rem;
  color: var(--rootwhite);
  background: transparent;
  text-transform:capitalize;
  transition: 0.3s all ease;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #b1b1b1;
}
.faq-input:focus, .faq-input:hover{
  border-color: #fff;
}
.faq-submit{
  font-size: 20px;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  color: var(--rootwhite);
  background: transparent;
  border: 1px solid #b1b1b1;
  overflow: hidden;
}

.faq-submit a{
  z-index: 9;
  text-decoration: none;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.faq-submit:hover a{
  color: var(--rootblack);
}

.faq-submit::before{
  left: 0;
  bottom: -100%;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--rootwhite);
  border-radius: 50%;
  position: absolute;
  transition: 0.4s all ease;
}
.faq-submit:hover::before{
  bottom: 0;
  border-radius: 0;
}

.faq-right2{
  width: 100vw;
}
.faq-heading2{
  font-size: 42px;
  font-weight: 500;
  color: var(--rootblack);
}

/* Join Hands Page */

.jh-main-cont{
  background-size:100% 300%;
  animation: bg-animation2 12s infinite ease;
  background-image: linear-gradient(45deg, #6b02b5, #a115b7, #5203ca);
}

.jh-sub-cont, .jh-sub-cont2, .jh-sub-cont3{
  gap: 4rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  color: var(--rootwhite);
  justify-content: center;
}
.jh-sub-cont{
  height: 80vh;
  padding: 6rem 6rem;
}

.jh-heading{
  z-index: 7;
  width: 60vw;
  font-size: 68px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 35px;
  transition: 0.3s all ease;
  backdrop-filter: blur( 3px );
  border: 1px solid var(--rootwhite);
  -webkit-backdrop-filter: blur( 3px );
  background: rgba(224, 224, 224, 0.15);
}
.jh-heading:hover{
  box-shadow: 0 8px 50px 0 rgba(162, 49, 214, 0.479);
}
.jh-contents{
  gap: 2rem;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
}
.jh-content, .jh-sub-ans{
  font-size: 22px;
  font-weight: 300;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
/* .jh-content::after{
  content: "";
  top: 3rem;
  left: -35rem;
  width: 20%;
  height: 5px;
  z-index: 6;
  background: #f7f7f779;
  position: absolute;
  box-shadow: 0 8px 50px 0 rgba(162, 49, 214, 0.479);
} */

.jh-sub-cont2{
  height: 80vh;
  position: relative;
  padding: 6rem 6rem;
  overflow: hidden;
  color: var(--rootblack);
  background: var(--rootwhite);
}
.jh-sub-q{
  z-index: 5;
  font-size: 46px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 35px;
  transition: 0.3s all ease;
  border: 1px solid var(--rootpurple);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size:100% 300%;
  background-image: var(--gradient);
  animation: bg-animation2 3s infinite ease;
}
.jh-sub-q:hover{
  box-shadow: 0 8px 50px 0 rgba(162, 49, 214, 0.479);
}
/* .jh-sub-q::after{
  content: "";
  top: 3.6rem;
  width: 21%;
  height: 2px;
  left:-50rem;
  position: absolute;
  background: #6f01dca4;
} */

.jh-sub-ans{
  font-weight: 400;
  position: relative;
}
/* .jh-sub-ans::after{
  content: "";
  top: 2rem;
  right: -40rem;
  width: 25%;
  height: 5px;
  background: #8f15b483;
  position: absolute;
}
.jh-sub-ans::before{
  content: "";
  top: 12rem;
  right: -40rem;
  width: 25%;
  height: 5px;
  background: #8f15b483;
  position: absolute;
} */
.jh-ans-highlight{
  font-weight: 500;
  color: var(--rootpurple);
  font-family: 'Poppins', sans-serif;
}

.jh-sub-cont3{
  gap: 4rem;
  overflow: hidden;
  padding: 4rem 6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size:100% 300%;
  background-image: var(--gradient);
  animation: bg-animation 10s infinite ease;
}
.jh-elements-heading{
  padding: 0 6rem;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.joinhands-cards{
  gap: 2rem;
  width: 100vw;
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
}

.jh-card{
  gap: 1.5rem;
  width: 45vw;
  display: flex;
  cursor: pointer;
  padding: 3rem 2rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s all ease;
  backdrop-filter: blur(2px);
  border:2px solid var(--rootwhite);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(123, 109, 126, 0.2);
}
.jh-card:hover{
  box-shadow: 0 8px 50px 0 rgba(212, 119, 255, 0.39);
}
.jh-card-heading-cont{
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.jh-card-heading-icon{
  width: 4vw;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;background: white;
}
.jh-card-heading{
  font-size: 22px;
}
.jh-card-points{
  gap:0.5rem;
  display: flex;
  flex-direction: column;
}
.jh-card-point{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.jh-card-readmore{
  width: 10vw;
  color: #f7f7f7;
  margin: 1rem 0 0 0;
  font-weight: 500;
  transition: 0.3s all ease;
  font-family: 'Poppins', sans-serif;
}
.jh-card-readmore:hover{
  color: var(--rootfadedwhite);
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}
.jh-card-left{
  align-self: flex-start;
  border-radius: 0 20px 20px 0;
}
.jh-card-left::after{
  content: "";
  top: 10rem;
  left: 100%;
  width: 60vw;
  height: 1px;
  background: #fff;
  position: absolute;
  box-shadow: 0 0 50px 10px rgba(212, 119, 255, 0.39);
}

.jh-card-right{
  align-self: flex-end;
  border-radius: 20px 0 0 20px;
}
.jh-card-right::after{
  content: "";
  top: 9rem;
  right: 100%;
  width: 60vw;
  height: 1px;
  background: #fff;
  position: absolute;
  box-shadow: 0 0 50px 10px rgba(212, 119, 255, 0.39);
}

.jh-last-cont{
  padding:3rem 2rem;
  margin: 2rem 0;
  border-radius: 25px;
  background: var(--rootwhite);
  border: 1px solid var(--rootpurple);
  box-shadow: 0 0 20px 0px rgba(243, 220, 255, 0.5)
}
.jh-last-heading{
  font-size: 24px;
  font-weight: 600;
  color: transparent;
  text-align: center;
  background-clip: text;
  background-size:100% 300%;
  -webkit-background-clip: text;
  background-image: var(--gradient);
  animation: bg-animation2 3s infinite ease;
}
/* Contact Page */

.contact-main-cont{
  background-size:100% 300%;
  animation: bg-animation2 12s infinite ease;
  background-image: linear-gradient(45deg, #6b02b5, #a115b7, #5203ca);          
}

.contact-sub-cont,.contact-sub-cont2,.contact-sub-cont3{
  gap: 4rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  color: var(--rootblack);
  justify-content: center;
}
.contact-sub-cont{   
  height: 90vh;
  padding: 6rem 6rem;
  background: var(--rootwhite);
}
.contact-left{
  gap:0.8rem;
  width: 70%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.contact-heading{
  width:8vw;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
  border-radius: 25px;
  padding: 0.5rem 0.2rem;
  border: 1px solid var(--rootpurple);
}
.contact-subheading{
  font-size: 1.3vw;
  font-weight: 500;
  color:var(--rootblack);
  text-align: left;
}
.contact-heading,.contact-soomuchai, .social-heading{
  color: transparent;
  background-clip: text;
  background-size:100% 300%;
  -webkit-background-clip: text;
  background-image: var(--gradient);
  animation: bg-animation2 3s infinite ease;
}
.contact-card{
  gap: 1rem;
  display: flex;
  font-size: 14px;
  padding: 2rem 3rem 3rem 3rem; 
  cursor: pointer;
  position: relative;
  border-radius: 35px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--rootwhite);
  transition: 0.3s all ease;
  background-size:100% 300%;
  animation: bg-animation2 8s infinite ease;
  background-image: linear-gradient(45deg, #6b02b5, #a115b7, #5203ca);
}
.contact-card:hover{
  box-shadow: 0 8px 30px 5px rgba(113, 38, 145, 0.3)
}
.contact-card-head{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0 0 0.5rem;
}
.contact-card-cont{
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.contact-phone-email{
  width: 100%;
  flex:0 1 48%;
  border: 15px;
  padding: 2rem 1rem;
  border-radius: 15px;
  color: var(--rootblack);
  backdrop-filter: blur(2px);
  background: var(--rootwhite);
  -webkit-backdrop-filter: blur(2px);
  border:2px solid var(--rootfadedwhite);
}
.contact-phone-email h3{
  font-weight: 400;
}
.contact-phone-email span{
  gap: 0.5rem;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-phone-email svg{
  color: var(--rootpurple);
}
.contact-phone-email h3:nth-child(1){
  padding: 0 0 0.5rem 0;
  color: #5c5c5c;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-visit{
  align-items: flex-start !important;
  flex-direction: column;
}

.contact-sub-cont2{
  height: 60vh;
  padding: 20rem 0;
  flex-direction: column;
  background: #efefef;
  /* background: linear-gradient(var(--gradient)); */
}
.contact-left2{
  text-align: center;
}
.social-details{
  position: relative;
}
.social-heading{
  font-size: 2vw;
}
.social-subheading{
  font-size: 3vw;
  font-weight: 400;
  padding: 0 6rem;
  /* color: var(--rootwhite); */
  }
.contact-right2{
  width: 60%;
  padding: 1rem;
  border-radius: 50px;
  border: 3px solid var(--rootpurple);
}
.social-media-cont,.social-icons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social-icons{
  gap:0.5rem;
  text-decoration: none;
}
.social-icons a{
  font-size: 1rem;
  font-weight: 500;
  color:var(--rootblack);
  transition: 0.5s all ease;
}
.social-icons svg{
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s all ease;
}

.social-icons:hover a{
  color: transparent;
  background-clip: text;
  background-size:100% 300%;
  -webkit-background-clip: text;
  background-image: var(--gradient);
  animation: bg-animation2 3s infinite ease;
}

/* Testimonial Page */

.testi-main-cont{
  background-image: linear-gradient(45deg, #6b02b5, #a115b7, #5203ca);
  background-size:100% 300%;
  animation: bg-animation2 5s infinite ease;
}
.testi-sub-cont{
  gap: 3rem;
  display: flex;
  padding: 4rem 6rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--rootwhite);
  color: var(--rootblack);
}
.testi-top-cont{
  text-align: center;
}
.testi-heading{
  font-size: 76px;
  background: var(--gradient);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testi-subheading{
  font-size: 32px;
  color: #888290;
}

.testi-divider-1{
  width: 86vw;
  height: 2px;
  background:rgba(0, 0, 0, 0.15);
}

.testi-bottom-cont{
  gap: 2rem;
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.testi-bottom-left,.testi-bottom-mid,.testi-bottom-right{
  gap: 2rem;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testi-card{
  gap: 1rem;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  padding: 2rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  backdrop-filter: blur(5px);
  background: #c6c6c638;
}
.testi-card:hover{
  box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.15);
}
.testi-special-card:nth-child(2){
  background: radial-gradient(circle at left, #e0a4f8d3,#b20cfaee);
}
.testi-special-card:nth-child(2)>.testi-special-review{
  color: var(--rootwhite);
  font-size: 24px;
}

.testi-review, .testi-company{
  font-size: 14px;
  color: var(--rootblack);
  font-family: 'Poppins', sans-serif;
}
.testi-divider{
  width: 100%;
  height:1px;
  background:rgba(0, 0, 0, 0.15);
}
.testi-name{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}


/* Blog Page */

.blog-main-cont{
  gap: 8rem;
  padding: 0 6rem;
}
.blog-main-cont, .blog-top-cont{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-top-cont{
  gap: 2rem;
  align-items: center;
}
.blog-heading{
  font-size: 68px;
  font-weight: 700;
  align-self: flex-start;
  color: var(--rootblack);
  font-family: 'Poppins', sans-serif;
}
.blog-top-sub-cont{
  gap: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start
}
.blog-top-left{
  width: 55%;
}
.blog-top-left img{
  width: 100%;
  border-radius: 8px;
}
.blog-top-right{
  width: 35%;
  height:53dvh;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-featured{
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  padding: 0.4rem 1rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  text-decoration: bold;
  background: #f0e3fcea;
  color: var(--rootpurple);
  backdrop-filter: blur(10px);
}
.blog-featured-heading{
  width:100%;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 2.3rem;
  transition:0.5s all ease;
  font-family: 'Poppins', sans-serif;
}
.blog-featured-heading:hover{
  color: var(--rootpurple);
}
.blog-details{
  width: 100%;
  gap: 1rem;
  display: flex;
  font-size: 12px;
  color: var(--rootblack);
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
}
.blog-details span{
  cursor: pointer;
  color: #2c2c2c;
  font-family: 'Poppins', sans-serif;
}
.author-details{
  font-family: 'Poppins', sans-serif;
}
.blog-details span:hover{
  color: var(--rootpurple);
}
.blog-sep{
  width: 100%;
  height: 2px;
  margin: 0.5rem 0;
  background: #f7f7f7ad;
}
.blog-content{
  font-size: 15px;
  text-align: left;
  color: var(--rootblack);
  font-family: 'Poppins', sans-serif;
}
.viewallblog{
  gap: 0.3rem;
  display: flex;
  font-size: 16px;
  padding: 0.3rem 0;
  border-radius: 5px;
  align-items: center;
  color: var(--rootpurple);
  transition: 0.3s all ease-in-out;
  font-family: 'Poppins', sans-serif;
}
.viewallblog:hover{
  color: var(--rootpurple);
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}
.viewallblog svg{
  margin: 0 5px;
  font-size:14px;
  color: var(--rootpurple);
  transition: 0.2s all ease-in-out;
}
.viewallblog:hover svg{
  color: var(--rootpurple);
}

.blog-bottom-cont,.recent-blogs-left{
  width: 100%;  
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
.blog-bottom-cont{margin:2rem 0;}
.recent-blogs-left{
  width: 30vw;
  gap: 2rem;
  flex-direction: column;
}
.recent-blogs-heading{
  color: #000;
  line-height: 12vh;
  font-size: 76px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.recent-blogs-subheading{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.recent-blogs-input-cont{
  display: flex;
  align-items: flex-start;
}
.recent-blog-emailinput{
  width: 100%;
  outline: none;
  font-size: 14px;
  background: #f5f5f5;
  padding: 0.8rem 1rem;
  color: var(--rootblack);
  transition: 0.5s all ease;
  border-radius: 10px 0 0 10px;
  border: 1px solid #a5a5a5;
  font-family: 'Poppins', sans-serif;
}
.recent-blog-emailinput:focus{
  border: 1px solid var(--rootpurple);
}
.recent-blog-submit-btn{
  border:none;
  outline:none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0.75rem 2rem;
  color: var(--rootwhite);
  border-radius: 0 10px 10px 0;
  /* background: #7001DC; */
  background: #490e85;
  font-family: 'Poppins', sans-serif;
}
.recent-blog-submit-btn:hover{
  background: #6d04d6;
}

.recent-blogs-right{
  gap: 1.5rem;
  width: 45vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.recent-blog-right-card{
  gap: 1.5rem;
  width: 45vw;
  padding: 1.5rem 1rem;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}
.recent-blog-right-card:hover{
  box-shadow: 0 2px 20px 0 rgba(97, 97, 97, 0.623);
}
.recent-blog-card-img{
  width: 16vw;
  height: 18vh;
  object-fit: cover;
  border-radius: 10px;
}
.recent-blog-card-right-cont{
  gap: 1rem;
  width: 21vw;
  display: flex;
  cursor: pointer;
  padding: 0.5rem 0;
  flex-direction: column;
  justify-content: flex-start;
}
.recent-blog-card-heading{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition:0.5s all ease-in-out;
  font-family: 'Poppins', sans-serif;
}
.recent-blog-card-heading:hover{
  color: var(--rootpurple);
}
.recent-blog-card-author-details{
  gap: 1rem;
  width: auto;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
}
.recent-blog-card-author,
.recent-blog-card-lang,
.recent-blog-card-date{
  font-family: 'Poppins', sans-serif;
}


/* Single Blog Pages */


/*** Base Page Styling ***/

.main-sub-cont{
  padding: 4rem 0;
}

.main-sub-cont,.single-blog-heading-cont{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--rootblack);
  justify-content: center;
  flex-direction: column;
}
.single-blog-heading-cont{
  gap: 1rem;
  padding: 0 6rem;
}
.single-blog-heading{
  font-weight:400;
  font-size: 72px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.single-blog-details{
  gap: 2rem;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.single-blog-content-cont{
  gap: 2rem;
  display: flex;
  margin: 5rem 0;
  padding: 0 8rem;
  flex-direction: column;
}

.single-blog-demo-btn{
  width:20%;
  border:none;
  outline:none;
  padding: 1rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 1rem 0;
  text-align: center;
  border-radius: 50px;
  background:#490e85;
  color: var(--rootwhite);
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all ease-in-out;
}
.single-blog-demo-btn:hover{
  background: #7001DC;
  box-shadow: 0 5px 20px rgba(99, 98, 98, 0.507);
}

.mp-main-content{
  font-size: 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.mp-soomuchai,.mp-steps, .mp-steps-content{
  font-family: 'Poppins', sans-serif;
}
.mp-soomuchai{
  font-weight: 600;
  margin: 2rem 0;
  padding: 2rem 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  border: 1px solid var(--rootpurple);
}
.mp-steps{
  color: #000;
  font-size: 26px;
  font-weight: 600;
  margin: 3rem 0 0 0;
}
.mp-steps-content{
  font-size: 20px;
}
.single-blog-soomuchai{
  font-weight: 600;
  color: var(--rootpurple);
  transition: 0.3s all ease;
}
.single-blog-soomuchai:hover{
  color: var(--rootpurple);
  text-underline-offset: 2px;
  text-decoration: 1px underline;
}

.whywe-main-cont{
  background-size:100% 300%;
  animation: bg-animation2 3s infinite ease;
  background-image: linear-gradient(45deg, #6b02b5, #a115b7, #5203ca);
}

.whywe-sub-cont{
  gap: 3rem;
  display: flex;
  padding: 4rem 6rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--rootwhite);
}
.whywe-top-cont{
  height: 80vh;
  text-align: center;
}
.whywe-top-heading{
  font-size: 22px;
  font-weight: 400;
  padding: 1rem 0;
  font-family: 'Poppins', sans-serif;
}
.whywe-top-subheading{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}


/* Footer Section */
.Footer{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-top{
  gap: 1rem;
  width: 100%;
  height: 50vh;
  display: flex;
  padding: 2rem 4rem;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid var(--dividergray);
  
}
.footer-logo-cont{
  flex: 0 1 30%;
  height: 100%;
}
.footer-logo {
  width: 8rem;
  cursor: pointer;
}

.column-follow-us,.column-quick-links {
  flex: 1;
  gap: 0.5rem;
  height: 100%;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-quicklinks-heading,.footer-followus-heading{
  font-size: 16px;
  font-weight: 600;
  color: var(--rootblack);
  margin: 0 0 0.5rem 0;
  font-family: 'Poppins', sans-serif;
}

.footer-links {
  color: #2c2c2c;
  font-size: 14px;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.footer-links:hover{
  color: var(--rootpurple);
}

.footer-email-form {
  gap: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-subscribe-heading{
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.footer-subscribe-subheading{
  width: 20vw;
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  margin: 0 0 1rem 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.footer-bottom{
  width: 100%;
  background: var(--rootpurple);
}

.soomuchai-copyright{
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  padding: 0.8rem 0;
}


/* Login */

.login-main-cont{
  width: 100%;
  height:100vh;
  display: flex;
  align-items: center;
  background: var(--rootwhite);
}
.login-left{
  gap: 1rem;
  width: 45vw;
  height: 100%;
  display:flex;
  align-items: center;
  background: #6F21AB;
  flex-direction: column;
  padding:2rem 3rem 2rem 3rem;
  justify-content: space-around;
}
.login-left-top{
  gap: 1rem;
  width: 100%;
  height:80%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.login-left-img{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.login-left-img img{
  width: 20vw;
}
.login-left-heading{
  font-size: 1.4vw;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
  color: var(--rootwhite);
  font-family: 'Poppins', sans-serif;
}
.login-left-subheading{
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  color: var(--rootwhite);
  font-family: 'Poppins', sans-serif;
}
.login-left-copyright{
  font-size: 0.8vw;
  text-align: center;
  color: var(--rootwhite);
  font-family: 'Poppins', sans-serif;
}
.login-right{
  gap: 1rem;
  width: 55vw;
  height: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  padding:4rem 3rem 1rem 3rem;
  background: var(--rootwhite);
}

.login-box{
  width: 60%;
  height:80%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.login-logo{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.login-logo img{
  width: 12vw;
  user-select: none;
}
.login-welcome{
  font-size: 1vw;
  color:#5C5C5C;
  margin: 1rem 0;
  font-weight: 500;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
.login-username,.login-password{
  width: 80%;
  display:flex;
  margin: 1rem 0 0 0;
  flex-direction: column;
}
.login-username label, .login-password label{
  font-size: 1vw;
  color: var(--rootblack);
  padding: 0 0 0.2rem 0.3rem;
  font-family: 'Poppins', sans-serif;
}
.login-username-input,.login-password-input{
  outline: none;
  border-radius: 7px;
  padding: 0.7rem 1rem;
  background: transparent;
  transition: 0.3s all ease;
  border: 1px solid #999999;
}
.login-username-input:focus,.login-password-input:focus, 
.login-password-input:hover,.login-username-input:hover{
  border: 1px solid var(--rootpurple);
}
.login-btn{
  width: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2.5rem 0;
  font-size: 1.4vw;
  border-radius: 50px;
  padding: 0.5rem 6rem;
  color: var(--rootwhite);
  transition: 0.3s all ease;
  background: var(--rootpurple);
  font-family: 'Poppins',sans-serif;
}
.login-btn:hover{
  background:#5700ad;
}

.login-bottom-box{
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgot-pass, .login-register, .login-register span{
  font-size: 1vw;
  cursor: pointer; 
  font-weight: 600;
  color: #5C5C5C;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.forgot-pass:hover, .login-register span:hover,.login-register span{
  color: var(--rootpurple);
}


/* Google Translator Styling */
#gtranslator-cont{
  top:92.2%;
  left:1.2rem;
  width: 12%;
  z-index: 9999;
  position: fixed;
  animation: 1s backnforth infinite alternate;
}
#gtranslator-cont:focus-within{
  animation: none;
}

@keyframes backnforth {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-5px);
  }
}
.skiptranslate span{
  display: none;
}
.goog-te-gadget{
  font-size: 0px;
}
.goog-te-gadget .goog-te-combo{
  padding: 0.5rem;
  border-radius: 5px;
  color: #404040;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--rootpurple);
}


/* OTP Styling */
.otp-icon{
  font-size: 5vw;
  color: #3f71f4;
}
.otp-input{
  width: 85%;
  margin:auto; 
  outline:none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  color: #5a5a5a;
  padding:0.7rem 1rem;
  border-radius: 5px;
  border:1px solid #9a9a9a;
}
.otp-btn{
  width:15vw;
  color: var(--rootwhite);
  padding:0.8rem 1rem;
  background: #5c81e0;
  border-radius: 5px;
}
.otp-btn:hover{
  background: #3f71f4;
}
